{{#unless currentUser}}
  <div class="custom-sso-login">
    <a 
      href="https://donate-vite.onrender.com/sso/discourse-login" 
      class="btn btn-primary btn-block custom-sso-btn"
    >
      {{d-icon "wallet"}}
      Войти через криптокошелёк
    </a>
  </div>
{{/unless}}
